// GOVUK Frontend Toolkit
// includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets (see Gruntfile.js)
// ==========================================================================

@import "colours";
@import "measurements";
@import "conditionals";
@import "shims";
@import "typography";
@import "css3";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";





// Property Front End - search and search results specifics
// ==========================================================================

.results-list ul {
  list-style-type:none
}

.grid-wrapper .result {
  padding: $gutter-half 0;
  margin-bottom: $gutter;
  border-bottom: 1px solid $grey-2;
}

.result h3 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}