// GOVUK Frontend Toolkit
// includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets (see Gruntfile.js)
// ==========================================================================

@import "colours";
@import "measurements";
@import "conditionals";
@import "shims";
@import "typography";
@import "css3";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";

// Land Registry Elements
// ==========================================================================
@import "../landregistry-elements/tags";

// Property view specifics
// ==========================================================================

.change a {
    color: $yellow;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.notification {
    margin: $gutter 0;
    padding: $gutter;
    background-color: $yellow-25;

    [class*="heading-"] {
        margin: 0;
    }

    form & {
        margin-top: 0;
    }
}

.notification__highlight {
    font-weight: bold;
}

.divider {
    border-top: 1px solid $border-colour;
    margin-top: $gutter;
    padding: $gutter 0;
}

.optional-section {
    margin-bottom: 0;
}

.js-enabled .focused {
  outline: 3px solid $yellow;
}