// Callout elements - summaries, alerts, notifications
// ==========================================================================


// Summary - Register View for example
.summary {
  margin: $gutter 0;
  padding: $gutter;
  color: $white;
  background-color: $light-blue;

  @extend %contain-floats;

  [class*='heading'] {
    margin-top: 0;
  }

  .title-flag {
    @include highlight-tag($light-blue, $white);
  }

  .lede {
    margin-bottom: $gutter;
    padding: $gutter 0;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;

    @extend %contain-floats;
  }

  .title-plan {
    border: 2px solid $white;
  }

}