.summary {
  margin: $gutter 0;
  padding: $gutter;
  color: $white;
  background-color: $light-blue;

  @extend %contain-floats;

  h1 {
      margin-top: 0;
  }

  .title-flag {
      @include highlight-tag($light-blue, $white);
  }

  .lede {
    margin-bottom: $gutter;
    padding: $gutter 0;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;

    @extend %contain-floats;
  }
  
  .title-plan {
    img {
      border: 2px solid $white;
    }
  }

}

dd {
    font-weight: bold;
}

.inline {
  @extend %contain-floats;

  dt {
    @include media(tablet) {
      float: left;
      clear: left;
      width: $one-quarter;
      margin-bottom: $gutter-one-third;
    }
    &:after {
      content: ':';
    }
  }

  dd {
    margin-bottom: $gutter-one-third;
    @include media(tablet) {
      float: left;
      width: $three-quarters;
    }
  }
}