h1 {
  @extend .heading-xlarge;
}

h2 {
  @extend .heading-large;
}

// ?
h3 {
  @extend .heading-medium;
}

h4, h5, h6 {
  @extend .heading-small;
}

ul {
  @extend .list-bullet;
}

ol {
  @extend .list-number;
}

img {
  display: block;
  max-width: 100%;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

small {
  @include core-16;
}

pre code {
  padding: 0; 
  border: none;
}