<section id="property-restrictions" class="text js-faux-details">

  <h2 class="heading-medium">Restrictions <span class="number-flag">2</span></h2>

  <details>
    <summary>What are restrictions?</summary>
    <div class="panel-indent">
      <p>A restriction limits the powers of a registered owner to deal with or dispose of the registered land. It may also limit the powers of a chargee to dispose of a charge.</p>
    </div>
  </details>

  <p>
    No disposition by a sole proprietor of the registered estate (except a trust corporation) under which capital money arises is to be registered unless authorised by an order of the court.
  </p>

  <p>
    No disposition of the registered estate by the proprietor of the registered estate is to be registered without a written consent signed by the proprietor for the time being of the Charge dated 27 July 2013 in favour of General UK PLC referred to in the Charges Register.
  </p>

</section>