<article class="legal-document--bounds">

  <section class="legal-document--item">
    
    <h2 class="heading-small">You are authorising:</h2>

    <p itemscope itemtype="http://schema.org/Corporation">
      <span itemprop="name">Wall &amp; Co Solicitors</span><br>
      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address-inline">
        <span itemprop="streetAddress">
          32 Edinburgh Street
        </span><br>
        <span itemprop="addressLocality">London</span><br>
        <span itemprop="postalCode">SW6 7TR</span>
      </span>
      <dl class="definition-inline">
        <dt>Company registration number</dt>
        <dd>2347676</dd>
        <dt>Account number</dt>
        <dd>1007-789654</dd>
      </dl>
    </p>

  </section><!-- end item -->

  <section class="legal-document--item legal-document--bordered">

    <h3 class="heading-small">To make the following changes:</h3>
    <p class="text">Buy property</p>

  </section><!-- end item -->


  <section class="legal-document--item legal-document--bordered">

    <h3 class="heading-small">Buyers:</h3>

    <div class="grid grid-1-2">
      <p>
        <b>Matthew Jameson</b> <span class="alert-flag">you</span><br>
        118 Leafy Way,<br>
        Thale,<br>
        Berks<br>
        RG12 9AB
      </p>
    </div>

    <div class="grid grid-1-2">
      <p>
        Jennifer Spencer<br>
        88 Monad Road,<br>
        Slough,<br>
        Berks<br>
        SL20 3JD
      </p>
    </div>

  </section><!-- end item -->

</article>