<section class="inner-block page-contents js-stick-at-top-when-scrolling">
  <h2 class="visuallyhidden">Register contents</h2>
  <nav>
    <ul>
      <li><a href="#property-details">Property details</a></li>
      <li><a href="#property-restrictions">Restrictions (2)</a></li>
      <li><a href="#property-restrictive-covenants">Restrictive covenants (1)</a></li>
      <li><a href="#property-easements">Easements (1)</a></li>
      <li><a href="#property-provisions">Provisions (1)</a></li>
      <li><a href="#maps-plans">Maps and plans</a></li>
      <li><a href="#related-documents">Related documents</a></li>
    </ul>
  </nav>
</section>