<div class="callout callout--summary">

  <h1 class="heading-large">
    Official register of title <span class="title-flag">GHR67834</span>
  </h1>

  <p>
    This register was last changed on <b>7 August 2013</b> at <b>16:46:28</b>
  </p>

  <div class="lede">

    <div class="grid grid-1-3">

      <div itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">
          Flat 18 Kingman Court<br>
          Verdant Road<br>
        </span>
        <span itemprop="addressLocality">London</span><br>
        <span itemprop="postalCode">SV19 9BT</span>
      </div>

    </div>

    <figure class="grid grid-1-3">
      <img src="http://placehold.it/600x400" alt="" class="title-plan">
    </figure>

  </div>

  <dl class="inline">
    <dt>Registered owner(s)</dt>
    <dd>Matthew Jameson</dd>

    <dt>Mortgage lender</dt>
    <dd>General UK PLC</dd>

    <dt>Tenure</dt>
    <dd>Leasehold</dd>

    <dt>Quality of title</dt>
    <dd>Absolute</dd>

    <dt>Price paid</dt>
    <dd>&pound;450,000 on 26 July 2013</dd>
  </dl>

</div>