<article class="legal-document--bounds">
  <section class="document-section document-section--flush">
    <h2 class="heading-medium document-section__heading">Property</h2>

    <div class="grid-wrapper document-section__item">
      <div class="grid grid-1-4">
        <div class="inner-block">Address</div>
      </div>
      <div class="grid grid-1-3">
        <div class="inner-block">
          <p itemscope="" itemtype="http://schema.org/PostalAddress" class="collapse">
            <span itemprop="streetAddress">Shannon Cottage <br> Martlesham<br></span>
            <span itemprop="addressLocality">Whitby</span><br>
            <span itemprop="postalCode">WH6 7MA</span>
          </p>
        </div>
      </div>
    </div>

    <div class="grid-wrapper document-section__item">
      <div class="grid grid-1-4">
        <div class="inner-block">Title</div>
      </div>
      <div class="grid grid-1-3">
        <div class="inner-block">GHN89712</div>
      </div>
    </div>

    <div class="grid-wrapper document-section__item">
      <div class="grid grid-1-4">
        <div class="inner-block">Sellers (current proprietors)</div>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <ul class="collapse">
            <li>Laura King</li>
            <li>Katie Winnick</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="grid-wrapper document-section__item ">
      <div class="grid grid-1-4">
        <div class="inner-block">Restrictions</div>
      </div>
      <div class="grid grid-1-2">
        <div class="inner-block">you have provided evidence to comply with the relevant restrictions</div>
      </div>
    </div>

  </section>

  <section class="document-section document-section--bordered">
    <h2 class="heading-medium document-section__heading">Buyers</h2>

    <div class="grid-wrapper document-section__item">
      <div class="grid grid-1-4">
        <p class="inner-block">No. of proprietors</p>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">2</div>
      </div>
    </div>

    <div class="grid-wrapper document-section__item">
      <div class="grid">
        <p class="inner-block"><b>Buyer 1</b></p>
      </div>
    </div>
    <div class="grid-wrapper document-section__item">
      <div class="grid grid-1-4">
        <div class="inner-block">Name</div>
      </div>
      <div class="grid grid-1-4">
        <p class="inner-block">Sarah Spencer</p>
      </div>
    </div>

    <div class="grid-wrapper document-section__item document-section__item--empty-state">
      <div class="grid grid-1-4">
        <div class="inner-block">Address(es)</div>
      </div>

      <div class="grid grid-1-4">
        <div class="inner-block">
          <a href="#" class="button-secondary">Add<span class="visuallyhidden"> another</span> address</a>
        </div>
      </div>
    </div>

    <div class="grid-wrapper document-section__item">
      <div class="grid grid-1-4">
        <div class="inner-block">Email</div>
      </div>

      <div class="grid grid-1-4">
        <div class="inner-block">
          <a href="#" class="button-secondary">Add<span class="visuallyhidden"> email address</span></a>
        </div>
      </div>
    </div>

  </section>
</article>
