

<ol class="register-changes-pending">
  <li>
    <h3 class="heading-small">Priority reserved</h3>
    <span class="alert-flag">Expires 15 November 2014</span>
    <div class="text footnote">
      <p>Reserved for a transfer and charge by Major &amp; Co Solicitors</p>
    </div>
  </li>

  <li>
    <h3 class="heading-small">Application to transfer ownership</h3>
    <span class="alert-flag">In progress</span>
    <div class="text footnote">
      <p>Submitted by Major &amp; Co Solicitors</p>
    </div>
  </li>

  <li>
    <h3 class="heading-small">Application to add a restriction</h3>
    <div class="text footnote">
      <p>County court judgement in favour of Sublime Finance Ltd.</p>
    </div>
  </li>
</ol>

<ol class="register-changes-previous">
  <li>
    <time datetime="2013-08-07T16:46:28Z">7 August 2013 at 16:46:28</time><!-- this level of accuracy? -->
    <h3 class="heading-small">Ownership transferred</h3>
    <div class="text footnote">
      <p>Submitted by Wall &amp; Co Solicitors</p>
    </div>
    <p>
      <a href="#">View current register</a>
    </p>

  </li>

  <li>
    <time datetime="2013-06-06">6 June 2013</time>
    <h3 class="heading-small">Priority reserved</h3>
    <div class="text footnote">
      <p>Reserved for a transfer and charge by Wall &amp; Co Solicitors</p>
    </div>
  </li>
</ol>