{% extends "style-guide/styleguide_base.html" %}

{% block content %}

<main id="wrapper" role="main">
  <div id="content">
    
    {% include "style-guide/includes/alpha_banner.html" %}
    
    <div class="inner-block">

      <h1>Forms</h1>

      <form action="/" method="post" class="form">

        <div class="form-group">
          <label class="form-label" for="example-1">.field-numeric</label>
          <p class="form-hint">A narrower field for simple numeric input</p>
          <input type="number" class="form-control field-numeric" id="example-1" name="example-1">
        </div>

        <div class="form-group">
          <label class="form-label" for="example-1">.form-control-1-2</label>
          <p class="form-hint">A "half width" field</p>
          <input type="number" class="form-control form-control-1-2" id="example-1" name="example-1">
        </div>

        <div class="form-group">
          <p>.button-secondary</p>
          <input type="submit" class="button-secondary" value="Edit">
        </div>

        <h2>Errors</h2>

        <div class="module-example">
          {% include "style-guide/modules/form-input-errors.html" %}
        </div>

        <details>
          <summary>see markup for validation</summary>
          <div class="module-source">
            <pre>
<code>
{{ include_raw('style-guide/modules/form-input-errors.html') | escape }}
</code>
            </pre>
          </div>
        </details>

        <div class="action-division--top"></div>

        <div class="errors">
          <p>This represents a single error message</p>
        </div>

        <ul class="errors">
          <li>This represents an error message in a list</li>
          <li>This represents an error message in a list</li>
        </ul>

      </form>

    </div>

  </div>
</main>

{% endblock %}