{% extends "style-guide/styleguide_base.html" %}

{% block content %}

<main id="wrapper" role="main">
  <div id="content">
    
    {% include "style-guide/includes/alpha_banner.html" %}
    
    <div class="inner-block">

    </div>

    <div class="inner-block style-section">
      <h2>Input types</h2>
    </div>

    <div class="inner-block style-unit">
      <h3>Numeric input</h3>
      <p>.field-numeric</p>

      <div class="module-example">
        {% include "style-guide/forms/numeric-input.html" %}
      </div>

      <details>
        <summary>see markup for numeric input</summary>
        <div class="module-source">
          <pre>
<code>
{{ include_raw('style-guide/forms/numeric-input.html') | escape }}
</code>
          </pre>
        </div>
      </details>

    </div>

    <div class="inner-block style-unit">
      <h3>Half size input</h3>
      <p>.form-control-1-2</p>

      <div class="module-example">
        {% include "style-guide/forms/narrow-input.html" %}
      </div>

      <details>
        <summary>see markup for half size input</summary>
        <div class="module-source">
          <pre>
<code>
{{ include_raw('style-guide/forms/narrow-input.html') | escape }}
</code>
          </pre>
        </div>
      </details>

    </div><!-- end half size input  -->

    <div class="inner-block style-section">
      <h2>Buttons</h2>
    </div>

    <div class="inner-block style-unit">
      <h3>Secondary button</h3>
      <p>.button-secondary</p>

      <div class="module-example">
        {% include "style-guide/forms/secondary-button.html" %}
      </div>

      <details>
        <summary>see markup for a secondary button</summary>
        <div class="module-source">
          <pre>
<code>
{{ include_raw('style-guide/forms/secondary-button.html') | escape }}
</code>
          </pre>
        </div>
      </details>
      
    </div><!-- end secondary button -->

    <div class="inner-block style-section">
      <h2 id="title-changelog">Validation</h2>
      <p>Validation styles for forms</p>
    </div>

    <div class="inner-block style-unit">
      <h3>Input errors</h3>

      <div class="module-example">
        {% include "style-guide/forms/form-input-errors.html" %}
      </div>

      <details>
        <summary>see markup for validation</summary>
        <div class="module-source">
          <pre>
<code>
{{ include_raw('style-guide/forms/form-input-errors.html') | escape }}
</code>
          </pre>
        </div>
      </details>

    </div>

    <div class="inner-block style-unit">
      <h3>Other errors</h3>

      <div class="module-example">
        {% include "style-guide/forms/other-errors.html" %}
      </div>

      <details>
        <summary>see markup for other errors</summary>
        <div class="module-source">
          <pre>
<code>
{{ include_raw('style-guide/forms/other-errors.html') | escape }}
</code>
          </pre>
        </div>
      </details>

    </div>

  </div>
</main>

{% endblock %}