{% extends "global/landregistry_base.html" %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">
    <div class="inner-block">

      <h1 class="heading-xlarge">Style guide</h1>
      <div class="text">
        <p class="lede">Intro para</p>
        <p>More bits</p>
      </div>

      <ul>
        <li><a href="typography">Typography</a></li>
        <li><a href="data-visualisation">Data visualisation</a></li>
        <li><a href="forms">Forms</a></li>
        <li><a href="todo">to do list</a></li>
      </ul>

    </div>
  </div>

</main>

{% endblock %}