{% extends "global/landregistry_base.html" %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">
  {% include "global/inc_alpha_banner.html" %}
    <div class="inner-block">

      <h1 class="heading-xlarge">
              Elements - work in progress - to do - pare down gov styles; add html5 elements; remove unecessary elements; color; etc
        </h1>

      
      <div class="text">
        <p>hello</p>
        {{ config }}
      </div>

		{% include "style-guide/inc_elements.html" %}
    </div>
  </div>

</main>

{% endblock %}

