{% extends "style-guide/styleguide_base.html" %}

{% block content %}

<main id="wrapper" role="main">
  <div id="content">
    
    {% include "style-guide/includes/alpha_banner.html" %}
    
    <div class="inner-block">

      <div class="text">

        <h1>Modules</h1>
        <ul class="list-bullet">
          <li><a href="#callouts">Callouts</a></li>
          <li><a href="#search-results">Search results</a></li>
          <li><a href="#details">&lt;details&gt; (demonstrating polyfill)</a></li>
        </ul>

      </div>

    </div>

    <div class="inner-block style-section">
      <h2 id="callouts">Callouts</h2>
      <p>Summaries, alerts, notifications</p>
    </div>

    <div class="inner-block style-unit">
      <h3>Summary</h3>
      <p class="text">See _callouts.scss and _typography.scss</p>

      <div class="module-example">
        {% include "style-guide/modules/summary.html" %}
      </div>

      <div class="module-source">
        <pre>
<code>
{{ include_raw('style-guide/modules/summary.html') | escape }}
</code>
        </pre>
      </div>

    </div>

    <div class="inner-block style-unit">
      <h3>Notice</h3>
      <p class="text">See _callouts.scss</p>

      <div class="module-example">
        {% include "style-guide/modules/notice.html" %}
      </div>

      <div class="module-source">
        <pre>
<code>
{{ include_raw('style-guide/modules/notice.html') | escape }}
</code>
        </pre>
      </div>

    </div>

    <div class="inner-block style-unit">
      <h3>Action notice</h3>
      <p class="text">See _callouts.scss</p>
      <p class="text">Used when a process ends in an action to be taken. In this example generating a token that then needs to be passed on to someone else.</p>

      <div class="module-example">
        {% include "style-guide/modules/action-notice.html" %}
      </div>

      <div class="module-source">
        <pre>
<code>
{{ include_raw('style-guide/modules/action-notice.html') | escape }}
</code>
        </pre>
      </div>

    </div>

    <div class="inner-block style-section">
      <h2 id="search-results">Search results</h2>
      <p>Search listings (list properties, details and image)</p>
    </div>

    <div class="inner-block style-unit">
      <h3>Summary</h3>
      <p class="text">See _search-results.scss</p>

      <div class="module-example">
        {% include "style-guide/modules/search-results.html" %}
      </div>

      <div class="module-source">
        <pre>
<code>
{{ include_raw('style-guide/modules/search-results.html') | escape }}
</code>
        </pre>
      </div>

    </div>

    <div class="inner-block style-section">
      <h2 id="details">&lt;details&gt;</h2>
      <p>Generally used for expanding "help" text.</p>
    </div>

    <div class="inner-block style-unit">
      <h3>Summary</h3>
      <p class="text">See /app/static/development/javascripts/vendor/polyfills/details-omnifill.js</p>

      <div class="module-example">
        {% include "style-guide/modules/details.html" %}
      </div>

      <div class="module-source">
        <pre>
<code>
{{ include_raw('style-guide/modules/details.html') | escape }}
</code>
        </pre>
      </div>

    </div>

  </div>

</main>

{% endblock %}
