{% extends "global/landregistry_base.html" %}

{% block content %}

{% include "style-guide/includes/inline-styles.html" %}

<main id="wrapper" role="main">
  <div id="content">
    
    {% include "style-guide/includes/alpha_banner.html" %}
    
    <div class="inner-block">

      <div class="text">

        <h1>To Do</h1>

        <div class="text">
          <p class="lede">style guide to-do list</p>
        </div>

        <ul>
          <li>back to index links</li>
          <li>example tables</li>
          <li>tables for mobile devices - if necessary</li>
          <li>example forms</li>
          <li><b>Remove</b> inline-styles.html - style guide should be built from itself, no extraneous css!</li>
        </ul>

    </div>
  </div>

</main>

{% endblock %}