{% extends "global/landregistry_base.html" %}

{% block content %}

<main id="wrapper" role="main">

  <div id="content">
    <div class="inner-block">

      <div class="text">

        <h1>To Do</h1>

        <div class="text">
          <p class="lede">style guide to-do list</p>
        </div>

        <ul>
          <li>back to index links</li>
          <li>example tables</li>
          <li>tables for mobile devices - if necessary</li>
          <li>example forms</li>
        </ul>

    </div>
  </div>

</main>

{% endblock %}