{% extends "style-guide/styleguide_base.html" %}

{% block content %}

{% include "style-guide/includes/inline-styles.html" %}

<main id="wrapper" role="main">
  <div id="content">
    
    {% include "style-guide/includes/alpha_banner.html" %}

    <div class="inner-block">

      <div class="text">

        <h1>1. Typography</h1>
        <p class="lede">Basic typographical styles. Note that all classes from <a href="http://govuk-elements.herokuapp.com/#guide-typography">GOV.UK elements typography</a> are also available.</p>

        <div class="example">

          <h1>Heading level 1</h1>
          <h2>Heading level 2</h2>
          <h3>Heading level 3</h3>
          <h4>Heading level 4</h4>
          <h5>Heading level 5</h5>
          <h6>Heading level 6</h6>

        </div>

        <div class="example">

          <h2>Inline text elements</h2>

          <p><abbr title="HyperText Markup Language">HTML</abbr> &mdash; the <code>abbr</code> element.</p>

          <p><a href="#">Link</a> &mdash; the <code>a</code> element.</p>

          <p><em>emphasis</em> and <i>italicizing</i> &mdash; the <code>em</code> and <code>i</code> elements.</p>

          <p><strong>strong importance</strong> and <b>bolding</b> &mdash; the <code>strong</code> and <code>b</code> elements.</p>

          <p><small>Copyright &#169; All Rights Reserved.</small> &mdash; the <code>small</code> element.</p>

          <p><s>No longer accurate or relevant</s> &mdash; the <code>s</code> element.</p>

          <p><cite>Universal Declaration of Human Rights</cite>, the <code>cite</code> element.</p>

          <p>The <q>inline quote</q> element &mdash; <code>q</code></p>

          <p>Bob&#8217;s <dfn title="Dog">canine</dfn> mother and <dfn title="Horse">equine</dfn> father sat him down and carefully explained that he was an <dfn title="A mutation that combines two or more sets of chromosomes from different species">allopolyploid</dfn> organism. A good example of <code>dfn</code>, used to highlight the first use of a term.</p>

          <p><time datetime="1952-02-7">7 February 1952</time> &mdash; the <code>time</code> element.</p>

          <p>This is a paragraph with a <code>code</code> element.</p>

          <p>If there are <var>n</var> pipes &mdash; the <code>var</code> element.</p>

          <p><samp>This is sample output</samp> &mdash; the <code>samp</code> element.</p>

          <p><kbd>&#8984; Cmd</kbd> + <kbd>&#8679; Shift</kbd> &mdash; the <code>kbd</code> element.</p>

          <p>X<sup>2</sup> or X<sub>2</sub> &mdash; the <code>sup</code> and <code>sub</code> elements.</p>

          <p>A <mark>marked area</mark> &mdash; the <code>mark</code> element.</p>

          <p>Markup showing a <del>deletion</del> and an <ins>insertion</ins> &mdash; <code>del</code> and <code>ins</code>.</p>

        </div>

        <div class="example">

          <h2>Lists</h2>

          <ol>
            <li>This is an ordered list.</li>
            <li>
              This is the second item, which contains a sub list
              <ol>
                <li>This is the sub list, which is also ordered.</li>
                <li>It has two items.</li>
              </ol>
            </li>
            <li>This is the final item on this list.</li>
          </ol>

          <ul>
            <li>
              United Kingdom of Great Britain and Northern Ireland:
              <ul>
                <li>England</li>
                <li>Scotland</li>
                <li>Wales</li>
                <li>Northern Ireland</li>
              </ul>
            </li>
            <li>Republic of Ireland</li>
            <li>Isle of Man</li>
            <li>
              Channel Islands:
              <ul>
                <li>Bailiwick of Guernsey</li>
                <li>Bailiwick of Jersey</li>
              </ul>
            </li>
          </ul>

          <dl>
            <dt>This is a term.</dt>
            <dd>This is the definition of that term.</dd>
            <dt>Here is another term.</dt>
            <dd>And it gets a definition too, which is this line.</dd>
            <dt>Here is term that shares a definition with the term below.</dt>
            <dt>Here is a defined term.</dt>
            <dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they share descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
          </dl>

        </div>

        <div class="example">

          <p>A <code>blockquote</code> element:</p>

          <blockquote cite="http://hansard.millbanksystems.com/commons/1947/nov/11/parliament-bill#column_206">
            <p>Many forms of Government have been tried, and will be tried in this world of sin and woe. No one pretends that democracy is perfect or all-wise. Indeed, it has been said that democracy is the worst form of government except all those other forms that have been tried from time to time.</p>
          </blockquote>

        </div>

        <div class="example">

          <p>A <code>pre</code> element:</p>

<pre>&#32; ! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~</pre>

          <p><code>code</code> in conjunction with <code>pre</code>:</p>

<pre><code>function getJelly() {
  &#160;&#160;&#160;&#160;echo $aDeliciousSnack;
}</code></pre>

        </div>

        <div class="example">

          <figure>
            <img src="http://placehold.it/640x480" alt="Example image"/>
            <figcaption>
              This is a placeholder image, with supporting caption.
            </figcaption>
          </figure>

        </div>

        </div>

    </div>

  </div>
</main>

{% endblock %}