@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.module-example:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.module-example:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.module-example:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.module-example:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
.example {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

.module-example {
  border: 4px solid #ccc;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
}
.module-example:before {
  content: 'example';
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 4px 4px 0;
  background: #ccc;
}
@media (max-width: 640px) {
  .module-example:before {
    font-size: 14px;
    line-height: 1.14286;
  }
}

pre {
  margin: 30px 0;
  word-wrap: break-word;
}

code {
  font-size: 11px;
  font-family: 'Courier' monospace;
  line-height: 1.1;
}

.style-section {
  border-top: 1px solid #dee0e2;
}

.style-unit {
  border-top: 1px dotted #dee0e2;
}
