// GOVUK Frontend Toolkit
// includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets (see Gruntfile.js)
// ==========================================================================

@import "colours";
@import "measurements";
@import "conditionals";
@import "shims";
@import "typography";
@import "css3";
@import "design-patterns/alpha-beta";
@import "design-patterns/buttons";


// STYLE GUIDE ONLY - Just presentational helpers for the guide. This should be SMALL!
// ===================================================================================

.example {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

.module-example {
  @extend %contain-floats;
  border: 4px solid #ccc;
  margin-bottom: 30px;
  padding: 30px;

  position: relative;

  &:before {
    content: 'example';

    @include core-16;

    position: absolute;
    left: 0;
    top: 0;
    padding: 0 4px 4px 0;
    background: #ccc;
  }
}

pre {
  margin: 30px 0;
  word-wrap: break-word;
}

code {
  font-size: 11px;
  font-family: 'Courier' monospace;
  line-height: 1.1;
}

.style-section {
  border-top: 1px solid $grey-3;
}

.style-unit {
  border-top: 1px dotted $grey-3;
}
